<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Service key values and current key label -->
    <add key="SvcKeyVersion" value="SvcKeyV1" />
    <add key="SvcKeyV1" value="abcdefghijklmnopqrstuvwxyz012345" />
    <!-- Web service info -->
    <add key="LocState" value="ONLINE" />
    <add key="System" value="DGP" />
    <add key="Environment" value="DEV" />
    <add key="Location" value="DevWorkstation" />
    <add key="WebSvcName" value="DGPWebSvc" />
    <add key="WebSvcVersion" value="2021-05-31" />
    <!-- Service values and settings -->
    <add key="EventSource" value=".NET Runtime" />
    <add key="EventID" value="1000" />
    <add key="TTLCheckFlag" value="ON" />
    <add key="TTLMS" value="10000" />
    <add key="UserCacheFlag" value="ON" />
    <add key="UserCacheSec" value="600" />
    <add key="RateLimitFlag" value="ON" />
    <add key="MaxMethBatch" value="10" />
    <add key="MaxReqMsgKB" value="64" />
    <add key="MaxRespMsgKB" value="64" />
    <add key="MaxFailedLogin" value="5" />
    <add key="PasswordLength" value="8" />
    <add key="ExpireDays" value="90" />
    <add key="MaxClaimBatch" value="10" />
    <add key="MaxFileSize" value="100000000" />
    <add key="MaxSegSize" value="45000" />
    <add key="MaxFolders" value="5" />
    <!-- ADO.NET connection strings -->
    <add key="SysInfo" value="Server=localhost;Database=Dev_SysInfo;User ID=username;Password=password" />
    <add key="SysWork" value="Server=localhost;Database=Dev_SysWork;User ID=username;Password=password" />
    <add key="SysMetrics" value="Server=localhost;Database=Dev_SysMetrics;User ID=username;Password=password" />
    <add key="FileStore" value="Server=localhost;Database=Dev_FileStore;User ID=username;Password=password" />
    <!-- Shard Names -->
    <add key="FileShard1" value="Server=localhost;Database=Dev_FileShard1;User ID=username;Password=password" />
    <add key="FileShard2" value="Server=localhost;Database=Dev_FileShard2;User ID=username;Password=password" />
    <!-- Writable Shards (comma delimited list of writable Shard Names) -->
    <add key="WritableShards" value="FileShard1,FileShard2" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />  </system.web>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: B53731BD-0340-4299-980C-F6B0E4CFCB1E-->